{% extends 'menu/index.html' %}

{% load static %}

{% block foodmenu %}


    <div class="row">
        <div class="container">
            <div class="col s6 offset-s3">
                {% for food in foods %}
                    <div class="card large hoverable">
                        <a href="/menu/index/foodcard/{{ food.food_id }}" >
                            <div id="foodId" data-="{{ food.id }}"></div>
                            <div class="card-image waves-effect waves-block waves-light" style="height: 100%;">
                                <div class="imgContainer">
                                    <img src="{{ food.picture.url}}" style='height: 100%; width: 100%; object-fit: cover'>
                                </div>
                            </div>

                            <div class="card-content teal lighten-5 center-align">
                                <div class="card-title"><p>{{ food.title }}</p></div>
                                <p>{{ food.introduction | truncatechars:50}}</p>
                            </div>
                        </a>
                        <div class="card-action">
                            <div class="wrap">
                                <a href="{% url '404page' %}" class="btn col s4 offset-s4">Add</a>
                            </div>
                        </div>

                    </div>

                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}