{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'menu/style.css' %}">
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    {% block css %}
        <link rel="stylesheet" href="{% static 'menu/style.css' %}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
    {% endblock css %}
    <style>
        body {
          background-image: url('http://127.0.0.1:8000/photo/photo/background.jpeg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }

    </style>
</head>
<body>

    <div>
        <nav>
            <div class="nav-wrapper teal lighten-2">
                <a href="#!" class="brand-logo m4 l2"><i class="material-icons ml-4">cloud</i>Cooky</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html"><i class="material-icons col s4">search</i></a></li>
                    <li><a href="badges.html">Login</a></li>
                    <li><a href="collapsible.html">SignUp</a></li>
                    <li><a href="{% url 'log-out' %}">Logout</a></li>
                </ul>
            </div>
        </nav>
        {% block foodmenu %}
        {% endblock %}

        {% block foodcard %}
        {% endblock %}
    </div>

</body>
</html>